@import "tailwindcss";

@theme {
  --color-primary: #b3272d;
  --color-on-primary: #ffffff;
  --color-primary-container: #ff5f5e;
  --color-on-primary-container: #64000c;
  --color-secondary: #006591;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #00b3fe;
  --color-on-secondary-container: #004260;
  --color-surface: #f8f9fa;
  --color-on-surface: #191c1d;
  --color-surface-variant: #e1e3e4;
  --color-on-surface-variant: #5a413f;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-outline: #8d706e;
  --color-outline-variant: #e1bebc;
  --color-primary-fixed: #ffdad7;
  --color-primary-fixed-dim: #ffb3af;
  --color-on-primary-fixed-variant: #910819;
  --color-secondary-fixed: #c9e6ff;
  --color-secondary-fixed-dim: #89ceff;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;

  --radius-xxl: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

